* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    min-width: 320px;
    color: #777;
    line-height: 1.6;
}

.hidden,
[hidden],
template {
    display: none !important;
}

#zool-l-layout,
#zool-l-menu {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#zool-l-menu {
    margin-left: -200px; /* "#zool-l-menu" width */
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#zool-l-menu a {
    color: #999;
    border: none;
    white-space: normal;
    padding: 0.625em 1em;
}

#zool-l-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#zool-l-layout {
    position: relative;
    padding-left: 0;
}

@media (max-width: 58em) {

    #zool-l-layout.active {
        position: relative;
        left: 200px;
    }

}

@media (min-width: 58em) {

    #zool-l-layout {
        padding-left: 200px; /* left col width "#zool-l-menu" */
        left: 0;
    }

    #zool-l-menu {
        left: 200px;
    }

}

.zool-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.zool-button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.zool-button {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, .8);
    border: 1px solid #999;
    border: 0 rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px
}

.zool-button--hover,
.zool-button:hover,
.zool-button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
}

.zool-button:focus {
    outline: 0
}

.zool-button--active,
.zool-button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
    border-color: #000 \9
}

.zool-button[disabled],
.zool-button--disabled,
.zool-button--disabled:hover,
.zool-button--disabled:focus,
.zool-button--disabled:active {
    border: 0;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: alpha(opacity=40);
    -khtml-opacity: .4;
    -moz-opacity: .4;
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none
}

.zool-button--hidden {
    display: none
}

.zool-button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.zool-button--primary,
.zool-button--selected,
a.zool-button--primary,
a.zool-button--selected {
    background-color: #0078e7;
    color: #fff
}

.zool-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.zool-menu-list,
.zool-menu-list__item {
    position: relative
}

.zool-menu-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.zool-menu-list__item {
    padding: 0;
    margin: 0;
    height: 100%
}

.zool-menu__link,
.zool-menu__heading {
    display: block;
    text-decoration: none;
    white-space: nowrap
}

.zool-menu__heading {
    text-transform: uppercase;
    color: #565d64
}

.zool-menu__link {
    color: #777
}

.zool-menu__link,
.zool-menu__heading {
    padding: .5em 1em
}

.zool-menu--disabled {
    opacity: .5
}

.zool-menu--disabled .zool-menu__link:hover {
    background-color: transparent
}

.zool-menu__link:hover,
.zool-menu__link:focus {
    background-color: #eee
}

.zool-menu ul,
.zool-menu .zool-menu-list__item--divided {
    border-top: 1px solid #333;
}

.zool-menu ul {
    border: none;
    background: transparent;
    display: block;
}

.zool-menu li a:hover,
.zool-menu li a:focus {
    background: #333;
}

.zool-menu__heading {
    font-size: 125%;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #fff;
    margin-top: 0;
    padding: 0.5em 0.8em;
    text-transform: uppercase;
}

.zool-menu__heading:hover,
.zool-menu__heading:focus {
    color: #999;
}

.zool-header {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
    width: 100%;
}

.zool-header h1 {
    font-size: 300%;
    font-weight: 100;
    margin: 0;
}

.zool-header h2 {
    font-size: 125%;
    font-weight: 100;
    line-height: 1.5;
    margin: 0;
    color: #666;
    letter-spacing: -0.02em;
}

@media screen and (min-width: 48em) {

    .zool-header {
        padding-left: 2em;
        padding-right: 2em;
    }

    .zool-header h1 {
        font-size: 320%;
    }

    .zool-header h2 {
        font-size: 128%;
    }

}

.zool-content {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
    color: black;
    width: 100%;
}

.zool-content > h1,
.zool-content > h2,
.zool-content > h3,
.zool-content > h4,
.zool-content > h5,
.zool-content > h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.zool-content > pre,
.zool-content > code,
.zool-content > .example {
    padding: 1em;
    background: rgb(245, 245, 245);
}

.zool-content > pre,
.zool-content > code {
    color: #333;
    font-family: Consolas, Courier, monospace;
}

.zool-content > code {
    padding: 0.2em 0.4em;
    white-space: nowrap;
}

@media screen and (min-width: 48em) {

    .zool-content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .zool-content p {
        font-size: 1.125em;
    }

}

.zool-footer {
    font-size: 87.5%;
    border-top: 1px solid #eee;
    padding: .5em 2em;
    background: rgb(250, 250, 250);
}
