* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    color: #777;
    line-height: 1.6;
}

.hidden,
[hidden],
template {
    display: none !important;
}

#zool-l-layout,
#zool-l-menu {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#zool-l-menu {
    margin-left: -200px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#zool-l-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#zool-l-layout {
    position: relative;
    padding-left: 0;
}

@media (max-width: 58em) {

    #zool-l-layout.active {
        position: relative;
        left: 200px;
    }

}

@media (min-width: 58em) {

    #zool-l-layout {
        padding-left: 200px;
        left: 0;
    }

    #zool-l-menu {
        left: 200px;
    }

}

.zool-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.zool-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.zool-button {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, .8);
    border: 0 rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.zool-button--hover,
.zool-button:hover,
.zool-button:focus {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.zool-button:focus {
    outline: 0;
}

.zool-button--active,
.zool-button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
    border-color: #000;
}

.zool-button[disabled],
.zool-button--disabled,
.zool-button--disabled:hover,
.zool-button--disabled:focus,
.zool-button--disabled:active {
    border: 0;
    background-image: none;
    -khtml-opacity: .4;
    -moz-opacity: .4;
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none;
}

.zool-button--hidden {
    display: none;
}

.zool-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.zool-button--primary,
.zool-button--selected,
a.zool-button--primary,
a.zool-button--selected {
    background-color: #0078e7;
    color: #fff;
}

.zool-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.zool-menu--disabled {
    opacity: .5;
}

.zool-menu__heading {
    display: block;
    margin-top: 0;
    font-size: 125%;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.zool-menu__heading:hover,
.zool-menu__heading:focus {
    color: #999;
}

.zool-menu__link {
    display: block;
    padding: 0.625em 1em;
    border: none;
    text-decoration: none;
    color: #999;
    white-space: normal;
    transition: background-color .3s;
    cursor: pointer;
}

.zool-menu__link:hover,
.zool-menu__link:focus {
    background-color: #333;
}

.zool-menu__link--disabled {
    cursor: default;
}

.zool-menu__link--disabled:hover,
.zool-menu__link--disabled:focus {
    background-color: transparent;
}

.zool-menu--disabled .zool-menu__link:hover {
    background-color: transparent;
}

.zool-menu-list {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    list-style: none;
}

.zool-menu-list__item {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
}

.zool-menu-list__item--divided {
    border-top: 1px solid #333;
}

.zool-menu-sublist {
    padding: 0;
    list-style: none;
    background-color: rgba(255, 255, 255, .05);
}

.zool-menu-sublist__link {
    padding-top: .25em;
    padding-bottom: .25em;
}

.zool-menu-sublist__link:before {
    display: inline-block;
    margin-right: .5em;
    content: '⌞';
}

.zool-menu-sublist .zool-menu-sublist .zool-menu-sublist__link:before {
    margin-left: 1em;
}


.zool-header {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 1em;
    max-width: 768px;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
    width: 100%;
}

.zool-header h1 {
    font-size: 300%;
    font-weight: 100;
    margin: 0;
}

.zool-header h2 {
    font-size: 125%;
    font-weight: 100;
    line-height: 1.5;
    margin: 0;
    color: #666;
    letter-spacing: -0.02em;
}

@media screen and (min-width: 48em) {

    .zool-header {
        padding-left: 2em;
        padding-right: 2em;
    }

    .zool-header h1 {
        font-size: 320%;
    }

    .zool-header h2 {
        font-size: 128%;
    }

}

.zool-component-frame {
    width: 100%;
}

.zool-component-frame iframe {
    width: 100%;
    height: 1000px;
    border: 1px solid #e6e6e6;
}

.zool-content {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    width: 100%;
}

.zool-content__section {
    margin-bottom: 2em;
}

.zool-content__section:first-child {
    margin-top: 1em;
}

.zool-usage > h1,
.zool-usage > h2,
.zool-usage > h3,
.zool-usage > h4,
.zool-usage > h5,
.zool-usage > h6 {
    margin-top: 0;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.zool-usage > pre,
.zool-usage > code,
.zool-usage > .example {
    padding: 1em;
    background: rgb(245, 245, 245);
}

.zool-usage > pre,
.zool-usage > code {
    color: #333;
    font-family: Consolas, Courier, monospace;
}

.zool-usage > code {
    padding: 0.2em 0.4em;
    white-space: nowrap;
}

.zool-content > .stacktrace {
    padding: 0.2em 0.4em;
    display: block;
    width: 100%;
    overflow: auto;
}

@media screen and (min-width: 48em) {

    .zool-content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .zool-content p {
        font-size: 1.125em;
    }

}

.zool-footer {
    font-size: 87.5%;
    border-top: 1px solid #eee;
    padding: .5em 2em;
    background: rgb(250, 250, 250);
}

#zool-l-menu .zool-sw-indicator {
    position: absolute;
    bottom: 0;
}

.zool-sw-indicator {
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    background: rgba(255, 255, 255, .1);
}

.zool-sw-indicator:before {
    content: 'serviceWorker: ';
    font-size: 10px;
    color: #999;
}

.zool-sw-indicator.is-loading {
    color: yellow;
}

.zool-sw-indicator.is-loaded {
    color: green;
}

.zool-highlighted {
    max-height: 300px;
    overflow: auto;
}