{% extends 'layout/app.html' %}

{% block head %}
{% if not hasExample %}
<link rel="stylesheet" href="/css/{{ componentName }}.css" />
{% endif %}
{% endblock %}

{% block content %}
<div class="zool-header">
    <h1>{{ componentName }}</h1>
    <h2>{{ location }}</h2>
</div>
<div class="zool-content">
    {% if hasExample %}
    <div class="zool-content__section zool-component-frame">
        <a class="zool-component-frame__new-tab" href="/frame/{{ componentName }}" target="_blank" title="Open {{ componentName }} in a new tab">
            <img src="/assets/img/new-tab.gif" alt="Open example in new tab"/>
        </a>
        <iframe id="example" src="/frame/{{ componentName }}" scrolling="no"></iframe>
    </div>
    {% endif %}

    <div class="zool-content__section zool-usage">
        {{ usage | safe }}
    </div>

    {% if highlightedCss %}
    <div class="zool-content__section zool-highlighted">
        {{ highlightedCss | safe }}
    </div>
    {% endif %}
</div>
{% if not hasExample %}
<script src="/js/{{ componentName }}.js"></script>
{% endif %}

<script src="/assets/js/main.js"></script>
{% if hasExample %}
<script>
    iframeResizer(document.querySelector('#example'), 1000);
</script>
{% endif %}
{% endblock %}