{% extends 'layout/app.html' %}

{% block head %}
<script id="initialData" type="application/json">
    {{ initialData | safe }}
</script>
{% if not hasExample %}
<link rel="stylesheet" href="/css/{{ componentName }}.css" />
{% endif %}
{% endblock %}

{% block content %}
<div class="zool-header">
    <h1>{{ componentName }}</h1>
    <h2>{{ location }}</h2>
</div>
<div class="zool-content">

    {% if hasExample %}
        <div class="zool-content__section">
            <div id="example" zool-component="example"></div>
        </div>
    {% endif %}

    {% if hasExamples %}
        <div class="zool-content__section">
            <div id="exampleTabs" data-component="example-tabs"></div>
        </div>
    {% endif %}

    <div class="zool-content__section zool-usage">
        {{ usage | safe }}
    </div>

    {% if highlightedCss %}
    <div class="zool-content__section zool-highlighted">
        {{ highlightedCss | safe }}
    </div>
    {% endif %}
</div>
{% if not hasExample %}
<script src="/js/{{ componentName }}.js"></script>
{% endif %}

<script src="/_assets/js/main.bundle.js"></script>

{% endblock %}